{% extends "sonu/base.html" %}

{% block content %}
     
   <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
           
           <div class="row text-center">
               <div class="col-8 offset-2" >
                <h3 >SONUDES</h3>
                <p>ALGO DEU ERRADO, VOLTA AO INÍCIO</p>
                <a href="/" class="btn btn-lg btn-outline-danger">VOLTAR</a>
               </div>
            </div>
        
    </div>
    </div>
    
   {% endblock %}
