@import url('https://fonts.googleapis.com/css?family=Roboto');


html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;

}

#main {
    min-height: 100%;
    overflow: hidden;
    //background-color: red;
}

#main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/bellaD2.jpg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/bellaD2.jpg);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/bellaD2.jpg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/bellaD2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main h1 {

    font-size: 2.2rem;
    margin-top: 8rem;
}

.content {
    margin-top: 1rem;
    //background-color: rgba(0,0,0,.5);
    //padding: 1rem;
    border-bottom: solid 1px #141414;
    //height: 10rem;
    margin: .3rem .5rem 1rem .5rem;
}

.content i {
    padding-top: 1rem;
}

.content-text p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.fa-video {
    color: rgba(255, 184, 30, 1); //#ff0000; //rgba(196,48,43,1) !important;
}

.fa-comment-alt {
    color: rgba(255, 184, 30, 1); //#2f8ee9;//rgba(196,48,43,1);//#128C7E !important;
}

.navbar {
    //background-color: #000;
    z-index: 1;
}

.fa-image {
    color: rgba(255, 184, 30, 1); //#2f8ee9;
    padding-left: .8rem;
}

.fa-bell {
    color: rgba(255, 184, 30, 1);
    #2f8ee9;
}

.coming-timer ul li {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    width: 100px;
    font-size: 16px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.coming-timer ul li span {
    font-size: 30px;
}

.text-white {
    color: rgba(196, 48, 43, 1) !important;
}


/*---Media Queries --*/

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 375px) {
    body {
        // color: yellow;
    }
}


@media only screen and (min-width: 500px) {
    body {
        //color: green;
    }
}

@media only screen and (min-width: 768px) {
    body {
        //color: indigo;
    }



}

@media only screen and (min-width: 1024px) {
    body {
        //color: red;
    }
}